In [3]:
import pandas as pd
df = pd.read_csv('stock.csv', parse_dates=['Date'], index_col='Date')
df

FileNotFoundError: [Errno 2] File b'stock.csv' does not exist: b'stock.csv'

In [4]:
df.shift(1)
#df.shift(-1)

NameError: name 'df' is not defined

In [3]:
df['Prev Day Price'] = df['Price'].shift(1)
df

             Price  Prev Day Price
Date
2017-08-15  171.00             NaN
2017-08-16  170.00          171.00
2017-08-17  166.91          170.00
2017-08-18  167.41          166.91
2017-08-21  167.78          167.41
2017-08-22  169.64          167.78
2017-08-23  168.71          169.64
2017-08-24  167.74          168.71
2017-08-25  166.32          167.74
2017-08-28  167.24          166.32

In [9]:
df['Price change'] = df['Price'] - df['Prev Day Price']
df

             Price  Prev Day Price  Price change
Date
2017-08-15  171.00             NaN           NaN
2017-08-16  170.00          171.00         -1.00
2017-08-17  166.91          170.00         -3.09
2017-08-18  167.41          166.91          0.50
2017-08-21  167.78          167.41          0.37
2017-08-22  169.64          167.78          1.86
2017-08-23  168.71          169.64         -0.93
2017-08-24  167.74          168.71         -0.97
2017-08-25  166.32          167.74         -1.42
2017-08-28  167.24          166.32          0.92

In [10]:
df['4 day change'] = (df['Price'] - df['Price'].shift(4))*100/df['Price'].shift(4)
df

             Price  Prev Day Price  Price change  4 day change
Date
2017-08-15  171.00             NaN           NaN           NaN
2017-08-16  170.00          171.00         -1.00           NaN
2017-08-17  166.91          170.00         -3.09           NaN
2017-08-18  167.41          166.91          0.50           NaN
2017-08-21  167.78          167.41          0.37     -1.883041
2017-08-22  169.64          167.78          1.86     -0.211765
2017-08-23  168.71          169.64         -0.93      1.078425
2017-08-24  167.74          168.71         -0.97      0.197121
2017-08-25  166.32          167.74         -1.42     -0.870187
2017-08-28  167.24          166.32          0.92     -1.414761

In [4]:
df = df[['Price']]

In [6]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', name='Date', freq=None)

In [7]:
df.index = pd.date_range(start="2017-08-15", periods=10, freq='B')

In [9]:
df.index

DatetimeIndex(['2017-08-15', '2017-08-16', '2017-08-17', '2017-08-18',
               '2017-08-21', '2017-08-22', '2017-08-23', '2017-08-24',
               '2017-08-25', '2017-08-28'],
              dtype='datetime64[ns]', freq='B')

In [13]:
df.tshift(-1)

             Price
2017-08-14  171.00
2017-08-15  170.00
2017-08-16  166.91
2017-08-17  167.41
2017-08-18  167.78
2017-08-21  169.64
2017-08-22  168.71
2017-08-23  167.74
2017-08-24  166.32
2017-08-25  167.24