In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('earthquake.csv')

In [5]:
#1)
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,id,updated,place,type
0,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,ak11155107,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
1,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,nn00436847,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
2,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,ak11151142,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
3,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,ak11151135,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
4,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,ci37171541,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

In [6]:
#2)
df = pd.read_csv('earthquake.csv',parse_dates=['time'],index_col='id')
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
ak11155107,2014-01-31 23:53:37.000,60.252000,-152.7081,90.20,1.10,ml,NaN,NaN,NaN,0.2900,ak,2014-02-05T19:34:41.515Z,"26km S of Redoubt Volcano, Alaska",earthquake
nn00436847,2014-01-31 23:48:35.452,37.070300,-115.1309,0.00,1.33,ml,4.0,171.43,0.34200,0.0247,nn,2014-02-01T01:35:09.000Z,"32km S of Alamo, Nevada",earthquake
ak11151142,2014-01-31 23:47:24.000,64.671700,-149.2528,7.10,1.30,ml,NaN,NaN,NaN,1.0000,ak,2014-02-01T00:03:53.010Z,"12km NNW of North Nenana, Alaska",earthquake
ak11151135,2014-01-31 23:30:54.000,63.188700,-148.9575,96.50,0.80,ml,NaN,NaN,NaN,1.0700,ak,2014-01-31T23:41:25.007Z,"22km S of Cantwell, Alaska",earthquake
ci37171541,2014-01-31 23:30:52.210,32.616833,-115.6925,10.59,1.34,ml,6.0,285.00,0.04321,0.2000,ci,2014-02-01T00:13:20.107Z,"10km WNW of Progreso, Mexico",earthquake

In [7]:
#3)
df.describe()
#longest magnitude=8.20 and min =-0.97

,latitude,longitude,depth,mag,nst,gap,dmin,rms
count,120108.000000,120108.000000,120107.000000,120065.000000,59688.000000,94935.000000,85682.000000,119716.000000
mean,38.399579,-99.961402,28.375029,1.793958,17.878284,124.048978,0.893198,0.358174
std,21.938258,82.996858,62.215416,1.343466,14.911369,68.518595,2.903966,0.364046
min,-73.462000,-179.998900,-9.900000,-0.970000,0.000000,9.000000,0.000000,0.000000
25%,34.228917,-147.742025,4.100000,0.820000,8.000000,74.000000,0.020760,0.070000
50%,38.805300,-120.832000,9.200000,1.400000,14.000000,107.000000,0.073670,0.200000
75%,53.889500,-116.068100,22.880000,2.400000,22.000000,155.000000,0.447000,0.590000
max,86.651400,179.998000,697.360000,8.200000,365.000000,356.400000,64.498000,8.460000

In [8]:
#4)
df = df.sort_values('mag')
df.head(20)

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type
id,,,,,,,,,,,,,,
uw60944536,2014-12-11 17:13:30.400,43.7200,-121.315333,1.58,-0.97,md,3.0,190.0,0.006311,0.00,uw,2014-12-11T19:49:58.810Z,"16km SE of Three Rivers, Oregon",earthquake
uw60889832,2014-10-09 21:35:19.500,43.7225,-121.315700,2.10,-0.90,Md,NaN,162.0,0.008983,0.03,uw,2014-10-10T18:15:27.045Z,"16km SE of Three Rivers, Oregon",earthquake
uw60886762,2014-10-07 07:26:23.100,43.7227,-121.313700,2.40,-0.90,Md,NaN,158.4,0.008983,0.03,uw,2014-10-07T21:35:17.569Z,"16km SE of Three Rivers, Oregon",earthquake
uw60891597,2014-10-13 12:57:26.000,43.7238,-121.316000,2.00,-0.90,Md,NaN,176.4,0.008983,0.05,uw,2014-10-13T16:04:47.814Z,"16km SE of Three Rivers, Oregon",earthquake
uw60908911,2014-10-23 21:02:22.200,43.7225,-121.313000,1.80,-0.90,Md,NaN,154.8,0.008983,0.05,uw,2014-10-24T18:33:39.585Z,"16km SE of Three Rivers, Oregon",earthquake
uw60891587,2014-10-13 09:50:54.500,43.7220,-121.313500,2.30,-0.90,Md,NaN,154.8,0.008983,0.03,uw,2014-10-13T16:07:58.098Z,"16km SE of Three Rivers, Oregon",earthquake
uw60891577,2014-10-13 06:40:26.100,43.7235,-121.313000,2.10,-0.90,Md,NaN,165.6,0.008983,0.04,uw,2014-10-13T16:13:13.674Z,"16km SE of Three Rivers, Oregon",earthquake
uw60891307,2014-10-12 21:10:18.900,43.7250,-121.314700,1.80,-0.90,Md,NaN,180.0,0.008983,0.01,uw,2014-10-12T21:57:42.270Z,"16km SE of Three Rivers, Oregon",earthquake
uw60882457,2014-10-02 03:53:12.000,43.7183,-121.314000,2.10,-0.90,Md,NaN,122.4,0.008983,0.05,uw,2014-10-02T05:59:30.296Z,"16km SE of Three Rivers, Oregon",earthquake
uw60882547,2014-10-02 05:38:45.700,43.7163,-121.316700,1.00,-0.90,Md,NaN,140.4,0.008983,0.07,uw,2014-10-02T06:04:05.805Z,"15km ENE of La Pine, Oregon",earthquake
uw60888161,2014-09-28 09:08:29.000,43.7207,-121.315000,1.90,-0.90,Md,NaN,201.6,0.008983,0.01,uw,2014-09-30T04:12:47.533Z,"16km SE of Three Rivers, Oregon",earthquake
uw60881547,2014-10-01 05:33:34.200,43.7237,-121.313000,2.00,-0.90,Md,NaN,165.6,0.008983,0.05,uw,2014-10-01T17:27:41.033Z,"16km SE of Three Rivers, Oregon",earthquake
uw60090108,2014-10-03 15:28:19.700,43.7245,-121.313500,2.10,-0.90,Md,NaN,172.8,0.008983,0.05,uw,2014-10-03T17:04:23.042Z,"16km SE of Three Rivers, Oregon",earthquake
uw60883597,2014-10-03 04:45:08.900,43.7205,-121.312800,2.00,-0.90,Md,NaN,97.2,0.008983,0.04,uw,2014-10-03T17:25:11.261Z,"16km SE of Three Rivers, Oregon",earthquake
uw60888426,2014-09-29 01:10:59.800,43.7310,-121.311000,1.80,-0.90,Md,NaN,212.4,0.008983,0.06,uw,2014-09-30T04:19:25.299Z,"16km SE of Three Rivers, Oregon",earthquake
uw60918242,2014-11-17 10:47:47.200,43.7222,-121.312300,2.00,-0.90,Md,NaN,97.2,0.008983,0.05,uw,2014-11-17T18:28:52.374Z,"16km SE of Three Rivers, Oregon",earthquake
uw60098808,2014-11-17 07:48:23.700,43.7218,-121.310200,1.80,-0.90,Md,NaN,93.6,0.000000,0.05,uw,2014-11-17T19:27:10.694Z,"16km SE of Three Rivers, Oregon",earthquake
uw60918157,2014-11-17 05:40:30.500,43.7227,-121.312000,2.00,-0.90,Md,NaN,100.8,0.008983,0.04,uw,2014-11-17T19:25:30.530Z,"16km SE of Three Rivers, Oregon",earthquake
uw60882632,2014-10-02 09:02:33.200,43.7228,-121.314300,2.40,-0.90,Md,NaN,162.0,0.008983,0.04,uw,2014-10-02T18:26:29.281Z,"16km SE of Three Rivers, Oregon",earthquake
uw60882637,2014-10-02 09:03:53.100,43.7205,-121.314300,2.40,-0.90,Md,NaN,97.2,0.008983,0.03,uw,2014-10-03T21:29:46.217Z,"16km SE of Three Rivers, Oregon",earthquake

In [9]:
#5)
df['Country'] = [city.split(",")[-1] for city in df['place']]
df.head()

,time,latitude,longitude,depth,mag,magType,nst,gap,dmin,rms,net,updated,place,type,Country
id,,,,,,,,,,,,,,,
uw60944536,2014-12-11 17:13:30.400,43.7200,-121.315333,1.58,-0.97,md,3.0,190.0,0.006311,0.00,uw,2014-12-11T19:49:58.810Z,"16km SE of Three Rivers, Oregon",earthquake,Oregon
uw60889832,2014-10-09 21:35:19.500,43.7225,-121.315700,2.10,-0.90,Md,NaN,162.0,0.008983,0.03,uw,2014-10-10T18:15:27.045Z,"16km SE of Three Rivers, Oregon",earthquake,Oregon
uw60886762,2014-10-07 07:26:23.100,43.7227,-121.313700,2.40,-0.90,Md,NaN,158.4,0.008983,0.03,uw,2014-10-07T21:35:17.569Z,"16km SE of Three Rivers, Oregon",earthquake,Oregon
uw60891597,2014-10-13 12:57:26.000,43.7238,-121.316000,2.00,-0.90,Md,NaN,176.4,0.008983,0.05,uw,2014-10-13T16:04:47.814Z,"16km SE of Three Rivers, Oregon",earthquake,Oregon
uw60908911,2014-10-23 21:02:22.200,43.7225,-121.313000,1.80,-0.90,Md,NaN,154.8,0.008983,0.05,uw,2014-10-24T18:33:39.585Z,"16km SE of Three Rivers, Oregon",earthquake,Oregon

In [14]:
#6)
df['Country'].value_counts()[:10]

California     44451
Alaska         33799
Oregon          3195
Nevada          2905
Washington      2788
Hawaii          2564
Puerto Rico     2286
Indonesia       2124
Oklahoma        2040
Montana         1991
Name: Country, dtype: int64

In [30]:
#7
df.dropna()
df.sort_values('mag',ascending=False)["Country"].unique()[:10]
#strongest

array(['Chile', 'Alaska', 'Solomon Islands', 'Papua New Guinea',
       'El Salvador', 'Mexico', 'Indonesia', 'Fiji',
       'Southern East Pacific Rise', 'New Zealand'], dtype=object)

In [32]:
df.sort_values('mag')["Country"].unique()[:10]
#weakest

array(['Oregon', 'Washington', 'Montana', 'Nevada', 'California',
       'Wyoming', 'Southern California', 'Canada', 'Utah', 'Alaska'],
      dtype=object)